.app-container {
  display: flex;
}

.app-content {
  width: 100%;
}

.postList {
  margin: 25px;
  background: rgb(255, 255, 255);
}

.hashtag {
  margin: 0px 3px;
}

.reaction {
  margin: 15px;
}

.badge {
  cursor: pointer;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

.welcome {
  margin: 6rem;
}