body {
  background: #ebe9e9;
}

button.rounded-circle {
  color: black;
  min-height: 40px !important;
  width: 40px !important;
  height: 40 !important;
  background: #f0f5ff;
  color: #292929;
  border: none;
}

button.rounded-circle svg {
  color: #292929;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.searchBox {
  width: 300px;
  height: 40px;
  background: #f0f5ff;
  border: none;
  border-radius: 6px;
}

.searchBox input {
  background: transparent;
  border: 0px;
  outline: none;
  font-size: 15px;
  color: #292929;
  padding-left: 5px;
}

.searchBox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.userInfor {
  min-width: 50px;
  width: 50px;
  height: 50px;
}


.main .sidebarWrapper {
  width: 30%;
  flex: 0 0 21%;
  transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 90px;
  left: 0px;
  background: #ffff;
}

.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0px;
}

.main .sidebarWrapper .sidebar ul li {
  list-style: none;
}

.main .sidebarWrapper .sidebar ul li button {
  min-height: 100%;
  color: #000;
  text-align: center;

}

.main .sidebarWrapper .sidebar ul li button .icon svg {
  color: #000;
  opacity: 0.8;
  font-size: 20px;
}


.main .content {
  width: 80%;
  flex: 0 1 80%;
}

.right-content {
  padding: 8rem 20px;
}

.dashboardWarpper {
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.dashboardWarpper .dashboardBox {
  width: 30%;
  height: 200px;
  background-color: fuchsia;
}